body {
    margin: 0;
}
header {
    background-color: rgb(0, 0, 0);
    padding: 3rem 2rem;
}

h1 {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-align: center; 
}
h2 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
p {
    margin: 2rem;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
.h2p {
    width: 768px;
    margin: 0 auto;
}

.formulario {
    width: 768px;
    margin: 0 auto;
}
form {
    margin: 2rem;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
button {
    background-color: rgb(33, 199, 130);
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 0.5rem ;
    text-align: center;
    font-size: 16px;
   
}
section {
        background-color: rgba(8, 58, 224, 0.233);
        margin: 1rem 0;
        border-radius: 0.5rem ;
        padding: 0.25rem 0;
}
form :hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.30);
}
footer {
    background-color: rgb(0, 0, 0);
}
h3 {
    margin: 1rem ;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style-type: none;
    text-align: left;
}
